:root {
    --sidebarColor: black;
    --mainBoxColor: rgb(196, 101, 101);
    --mainBox: black;

    --dark_background: #474256;
    --dark_background_hover: #E9E4F8;
    --dark_border: #6D6090;
    --dark_text: #E9E4F8;

    --light_background: #E9E4F8;
    --light_background_hover: #d4cfe3;
    --light_border: #6D6090;
    --light_text: #474256;

    --background: #E9E4F8;
    --background_hover: #d4cfe3;
    --border: #6D6090;
    --text: #474256;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;

}

.title {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}




.nav{ 
    width: 100vw;
    border-bottom: 1px solid var(--text);
    border-top: 1px solid var(--text);

    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 6vh;

    grid-template-areas: "filler1 navop1 navop2 navop3 navop4 filler2";
    height: 6vh;

    justify-content: center;
}

ul.options {
    list-style: none;
}

ul.options li {
    float: left;
    margin-left: 12%;

}

.navop1{
    grid-area: navop1;
    text-align: center;

}
.navop2{
    grid-area: navop2;
    text-align: center;

}
.navop3{
    grid-area: navop3;
    text-align: center;


}
.navop4{
    grid-area: navop4;
    text-align: center;

}

a:hover{
    background-color: var(--background_hover);

}




.content {
    display: grid;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80vh;


    grid-template-areas:
        "sidebar main"
        "sidebar main";

}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;

}

.main {
    grid-area: main;
}

.sidebarBox {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
}

h1 {
    text-align: center;
