:root{
    --sidebarColor: black;
    --mainBoxColor:rgb(196, 101, 101);
}

body{
    margin: 0;

}

.nav{
    height: 20vh;

}
.title{
    margin-top: 10px;
    margin-left: 10px;

}

.content{
    display: grid;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80vh;

    grid-template-areas: 
    "sidebar main"
    "sidebar main";
}

.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
}

.main{
    grid-area: main;
}


