:root{
    --sidebarColor: black;
    --mainBoxColor:rgb(196, 101, 101);
    --mainBox:black;

    --dark_background: #474256;
    --dark_border: #6D6090;
    --dark_text: #E9E4F8;

    --light_background: #E9E4F8;
    --light_border: #6D6090;
    --light_text: #474256;
}

body{
    margin: 0;
    background-color: var(--light_background);
    color: var(--light_text);
    font-family: 'Roboto';
}



.title{
    margin-top: 10px;
    margin-left: 10px;

}



.nav{
    height: 5vh;
}

ul.options{
    list-style: none;
}

ul.options li{
    float: left;
    margin-left: 15%;
}




.content{
    display: grid;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80vh;

    grid-template-areas: 
    "sidebar main"
    "sidebar main";

}

.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;

}

.main{
    grid-area: main;
}


